
<div class="about-menu">
  <div class="container" style="width:100%;">
    <ul style="width:100%;">
    <li style="width:24%;"><a class="to-toggle hd a1 active" onclick="hideAbout('a1')">About Habari</a></li>
    <li style="width:24%;"><a class="to-toggle hd a2" onclick="hideAbout('a2')">Skunk Works®</a></li>
    <li style="width:24%;"><a class="to-toggle hd a3" onclick="hideAbout('a3')">Development</a></li>
    <li style="width:24%;"><a class="to-toggle hd a4" onclick="hideAbout('a4')">Notes</a></li>
    </ul>
  </div>
</div>

<div class="to-toggle-d a1">
  <div >
    <div>
      <div>
        <p>
    Habari is an application that lets you convert a data file in a CSV format, enabling you to change the column names.
    You can then export this and load it into another application.
        </p>
      </div>
      <div>
        <p>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="to-toggle-d a2" hidden>
<p>
Skunk Works® <br/>
Tel : +64 224 758650<br/>
Email g@skunkworks.kiwi:
</p>
</div>
<div class="to-toggle-d a3" hidden>
  <div >
 <p>
 Developed by: Peter Bidali<br/>
 Email: njoroge7@gmail.com
  </p>
  </div>
</div>
</div>
<div class="to-toggle-d a4" hidden>
<p>
Habari is an open source application licensed under the MIT license. If you want to know more about MIT licensing, put 'MIT Licensing' into Google.
</p>
</div>
<div>
  <div >
    <ul>
      <li><a>© 2016 <span>Skunk Works</span></a></li>
    </ul>
  </div>
</div>
